<!DOCTYPE html>

<html>
{% load static %} 
{% load i18n %}
<head
	prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# object: http://ogp.me/ns/object# article: http://ogp.me/ns/article# profile: http://ogp.me/ns/profile#">

{% include "head/head.html" %} 

</head>

<body>

	<header> {% include "navbar/navbar.html" %} </header>

	{% block content %} 
	{% endblock content %}




	<footer> {% include "footer/footer.html" %} </footer>
    {% block extra-js %}
    {% endblock extra-js %}

</body>
</html>