{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block content %}

    <div style = "background-color: gray" >
    	<div class = "container-fluid" id = "title" >				
    		<div class = "row" >				
    			<div class = "col-xs-12 titleBar" >				
    				<h2 class = "title" id = "titleAjax" >
    				</h2>
    			</div>
    		</div>				
    	</div>
    
    	<div class = "container-fluid" style = "padding-top:10px; padding-bottom:10px" >				
    		<div class = "row" >					   
    		    <div class = "col-xs-5 offset-xs-1" id = "caseImage" >		    
    			     <img src = "https://dolartoday.com/images/dolar_big_image.jpg" class = "img-fluid" >					
    			</div>
    
    	       <div class = "col-xs-5" id = "caseInfo" >
        		 	<div class = "row" >
    		    		<div class = "container-fluid" id = "caseDateBar" >
    			    		<div class = "col-xs-12 timelineBarContinue" >
    		           			<div class = "date col-xs-9" id = "statusDateAjax" >		      
    		           			</div>
    		           			<div class = "status col-xs-3" id = "statusAjax" >		      
    		           			</div>   
    			    		</div>				    	
    					</div>
    	           	</div>
    				
    				<div class = "row" >		    	
    					<div class = "container" id = "caseDomainList" style = "padding-top:5px" >	    	
    						<div>   																			             								                
    							<table class = "table table-hover" >										   
    								<thead>									
    						            <tr>				
    								       <th id = "domainTableTitle" style = "background-color:white; border-radius:5px" >
    									   </th>
    							        </tr>
    								</thead>
    										            
    								<tbody id = "domainTableBody" style = "background-color:white; border-radius:5px" >
    								</tbody>
    
    						        <tfoot>
    	       					        <tr>
        		      				        <td>
    									        <button class = "contextualButtonFixedSize" onclick = "select('domains')" style = "margin-top: 10px;margin-bottom: 5px;" >
    						                        {% trans 'Domains' %}
    							                </button>
    								            
    							                <button class = "contextualButtonFixedSize" onclick = "select('sites')" style = "margin-top: 10px;margin-bottom: 5px;" >
    						                        {% trans 'Sites' %}
    							                </button>
    						                </td>
    							        </tr>
    						        </tfoot>            
    					        </table>
    						</div>    	
    					</div>
    				</div>
    						    	
    				<div class = "row" >
    					<div class = "container-fluid" id = "caseProvider" >
    						<div class = "col-xs-12" style = "text-align: center;" id = "ispAjax">
    						</div>	
    					</div>
    				</div>	
                </div>
    		</div>
        </div>
    </div>
    
    
    
    <div class = "container-fluid" id = "caseDescriptiion ">
    	<div class = "row" >
    		<div class = "col-xs-9 offset-xs-2" >
                <h3> 
                    Descripción: 
                </h3>            
    			<p id = "descriptionAjax" >			    
    			</p>
    		</div>		
    	</div>
    </div>
    
    
    <div class = "container-fluid" >
    	
    	<div class = "row" >
    		<div class = "col-xs-12 subtitleBar" >
                <h4 id = "updateTitle" >
                    ACTUALIZACIONES
                </h4>
    	    </div>
    	</div>
    		
    	<div class = "row" id = "updateListAjax" >
    	</div>		
    
    </div>
    
    
    <div class = "container-fluid" >
    	<div class = "row" >
    		<div class = "col-xs-12 subtitleBar" >
                <h4>
                    GRAPH
                </h4>
    		</div>
    	</div>
    	
    	<div class = "row" >
    		<div class = "col-xs-10 offset-xs-1" >
    			<h1>
    			    Graph Area
    			</h1>
    		</div>
    	</div>
    	
    </div>
    
    <div class = "container-fluid" >
        <div class = "row" >	
    		<div class = "col-xs-12 subtitleBar" >
    			<h4>
    			    SUBGRAPH
    			</h4>
    		</div>
    	</div>
    
    	<div class = "row" id = "subGraphDiv" >
    		<div class = "col-xs-3" id = "subGraph1" >
    			<div class = "row" >
    				<div class = "container-fluid" >
    					SubGraph 1
    				</div>
    				
    				<div class = "container-fluid" id = "subGraph1Title" >
    					Subgraph 1 Title
    				</div>
    
    				<div class = "container-fluid" id = "subGraph1Description" >
    					<div id="twitter"></div>
    				</div>
    
    			</div>
    		</div>
    
    		<div class = "col-xs-3" id = "subGraph2" >
    			<div class = "row" >
    				<div class = "container-fluid" >
    					SubGraph 2
    				</div>
    
    				<div class = "container-fluid" id = "subGraph2Title" >
    					 Subgraph 2 Title
    				</div>
    
    				<div class = "container-fluid" id = "subGraph2Description" >
    					 Subgraph 2 Description
    				</div>
    			</div>
    		</div>
    
    		<div class = "col-xs-3 " id = "subGraph3" >
    			<div class = "row" >
    				<div class = "container-fluid" >
    					SubGraph 3
    				</div>
    
    				<div class = "container-fluid" id = "subGraph3Title" >
    					Subgraph 3 Title
    				</div>
    
    				<div class = "container-fluid" id = "subGraph3Description" >
    					 Subgraph 3 Description
    				</div>
    
    			</div>
    		</div>
    
    	</div>
    </div>
    
    <div class="modal fade global-modal contentBoxTransparent" style="color:black;">
        <button type="button" class="close" onclick="empty(); $('.global-modal').modal('hide'); ">X</button>    
        <div class="modal-dialog" role="document">
        </div>
    </div>
   
    <!-- <blockquote class="twitter-tweet" lang="en"><p>OKC-MEM prediction: Fourteen overtimes, 10 4-point plays, a Perkins 3-pointer, and Tony Allen kills a guy.</p>&mdash; Zach Lowe (@ZachLowe_NBA) <a href="https://twitter.com/ZachLowe_NBA/status/461995665887723520">May 1, 2014</a></blockquote> -->

    <script>
           
    // These variables are the URLs used for the AJAX calls in the list.js file. They need to be specified here 
    // because of DJango configuration
     
        var url_one_case = "{% url 'Cases:OneElementCaseApi' %}"
        var url_one_case_update = "{% url 'Cases:OneElementCaseUpdateApi' %}"
        var pk = {{ pk }}
        
    
        
        
        
        var url_data_twitter ="{% url 'General:SearchTwitterApiEmpty' %}" 
        
 
  </script>

    <script src="{% static 'js/general/twitter-trending.js' %}"></script>
    <script src="{% static 'js/cases/case.js' %}"></script>

  
{% endblock %}