{% load static %}
{% load compress %}
{% load staticfiles %}
{% load widget_tweaks %}

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
    
    
<title>VE Sin filtro</title>
        
<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap/bootstrap.min.css' %}">
<link rel="stylesheet"  type="text/css" href="{% static 'css/fonts/roboto.css' %}">
<link rel="stylesheet"  type="text/css" href="{% static 'css/fonts/font-awesome.css' %}">
<link rel="stylesheet"  type="text/css" href="{% static 'plugins/chosen/chosen.min.css' %}">


<script src="{% static 'js/tether/tether.min.js' %}"></script>
<script src="{% static 'js/jquery/jquery.min.js' %}"></script>
<script src="{% static 'js/jquery/jquery-ui.js' %}"></script>
<script src="{% static 'js/bootstrap/bootstrap.min.js' %}"></script>
<script src="{% static 'js/jquery/jquery.serialize-object.min.js' %}"></script>
<script type="text/javascript" src="{% static 'plugins/chosen/chosen.jquery.min.js' %}"></script>


{% compress css %}
<link rel="stylesheet" href="{% static 'scss/main.scss'%}" type="text/x-sass" charset="utf-8">
{% endcompress %}

