{% extends "base.html" %}


{% block content %}

<div class="col-xs-12" style="background: gray">
<div class="col-xs-3" style="background:white; border: 1px solid white;border-radius: 5px;/*! height: 100px; *//*! width: auto; */margin: 10px;padding: 0;">
    <div style="text-transform:uppercase; border-bottom: 1px solid;padding-left: 10px;">
        Blocked 
        <strong>Domains</strong>       
    </div>
    
    <div style="padding-left: 10px;padding-right: 10px;">
        {% for url in urls %}
            <div class="col-xs-12" style="border-bottom: 1px solid;padding: 0;">
                <span class="col-xs-11" style="padding: 0;">
                    {{url.url}}
                </span> 
                <span class="col-xs-1" style="padding:0; color:blue">
                    <a target="_blank" href="{{ url.url }}"><i class="fa fa-external-link" aria-hidden="true"></i></a>
                </span>

            </div>
        {% endfor %}
         <button class="contextualButtonFixedSize" style="margin-top: 10px;margin-bottom: 5px;">
            Domains
        </button>
    </div>

    
</div>
    
</div>
{% endblock %}
