{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block content %}

    {% get_current_language as language_code %}    
    <input type="hidden" id="hiddenID" value="" />
    <input type="hidden" id="hiddenLinkID" value="" />
    <input type="hidden" id="hiddenDomainID" value="" />
    <input type="hidden" id="hiddenDomainLinkID" value="" />
    <input type="hidden" id="sites" value="{% trans 'Blocked Sites Strong' %}" />
    <input type="hidden" id="domains" value="{% trans 'Blocked Domains Strong' %}" />
    
    <div class="col-xs-12" style="background: gray">
        <div class="col-xs-3" id="listBlocked">
            <div class="col-xs-12 subtitleBar">
            
                <h4 style="display: -webkit-box; display: -moz-box; display: box;">
                    <div class="col-xs-1" id="count"></div >
                    <div id="title" style="padding-left: 5px;"></div>                                       
                </h4>
                   
            </div>
        
        
            <div>
                <div id="blockedSitesList" ></div>
            
                    <button class="contextualButtonFixedSize" onclick="select('sites')" style="margin-top: 10px;margin-bottom: 5px;">
                        {% trans 'Sites' %}
                    </button>
            
                    <button class="contextualButtonFixedSize" onclick="select('domains')" style="margin-top: 10px;margin-bottom: 5px;">
                        {% trans 'Domains' %}
                    </button>
            </div>
    
        
        </div>
        
    </div>
    
    
    <script>
           
    // These variables are the URLs used for the AJAX calls in the list.js file. They need to be specified here 
    // because of DJango configuration
     
        var url_data_sites="{% url 'General:BlockedSitesApi' %}"
        var url_data_domains = "{% url 'General:BlockedDomainsApi' %}"
        var url_style_list =  "{% url 'StylingGuide:ListApi' %}"

    
        
    </script>
    
    <script src="{% static 'js/general/list.js' %}"></script>

{% endblock %}
