<!DOCTYPE html>

<html>
{% load static %}
{% load i18n %}
    <head>
      
        {% include "head/head.html" %}       
    </head>
    
    <body>

        <header>
        
        {% include "navbar/navbar.html" %}       
       
        </header>
        
        {% block content %}
        {% endblock %}
        
     <!--   {% include "components/notifications.html" %} 
        {% include "components/share-social-media.html" %} 
        {% include "components/trending-twitter.html" %} -->
        
        <footer>
        
        {% include "footer/footer.html" %}       
       
        </footer>
        
    </body>
</html>