{% extends "base.html" %} 
{% load i18n %} 
{% load static %}
{% block content %} 
{% get_current_language as language_code %}


<link rel="stylesheet" href="{% static 'css/jjsonviewer.css' %}">
<div class="bodyContent">
<div class="col-xs-11 marginPage">
	<div class="row">
		<div class="col-xs-2">
			{% trans 'Download:' %} <a id="download" href="#"> <i
				class="fa fa-file-excel-o" aria-hidden="true"></i>
			</a>
		</div>
	</div>
	<div class="container-fluid" id="mTable">

		<div class="row">

			<div class="col-xs-11" id="headerDiv">

				<div class="col-xs-2 mheader">{% trans 'Site' %}</div>
				<div class="col-xs-2 mheader">{% trans 'URL' %}</div>
				<div class="col-xs-1 mheader">{% trans 'Date' %}</div>
				<div class="col-xs-1 mheader">{% trans 'Country' %}</div>
				<div class="col-xs-1 mheader">{% trans 'State'%}</div>
				<div class="col-xs-1 mheader">{% trans 'City' %}</div>
				<div class="col-xs-1 mheader">{% trans 'ISP' %}</div>
				<div class="col-xs-1 mheader">{% trans 'Measurement' %}</div>
				<div class="col-xs-1 mheader">{% trans 'Type' %}</div>

			</div>

		</div>

		<div class="row" id="measurementHeaderRow"></div>

		<div class="row">

			<div class="col-xs-11" id="dataTableM"></div>

		</div>

	</div>
</div>
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog"
	aria-labelledby="measurementTitle" aria-hidden="true">
	<div class="modal-dialog" id="modalm" role="document">
		<div class="modal-content" id="mModalContent">
			<button type="button" class="close" id="closeButton"
				data-dismiss="modal" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
			<div class="modal-header" id="mModalHeader">

				<h4 class="modal-title" id="measurementTitle"></h4>

			</div>
			<div class="modal-body" id="measurementData"></div>
			<div class="modal-footer" id="measurementFooter">

				<button type="button" class="btn btn-secondary" id="modalButton"
					data-dismiss="modal">Close</button>

			</div>
		</div>
	</div>
</div>
<script> 
	var pk = {{ pk }}
	var url_data_measurement =  "{% url 'Summary:MeasurementsTableApi' pk=pk %}" 
	var url_excel = "{% url 'Summary:ExcelMeasurementList' pk=pk %}"


</script>
<script src="{% static 'js/jjsonviewer.js' %}"></script>

<script src="{% static 'js/summary/mtable.js' %}"></script>

{% endblock content %}
