
{% load static %} 
{% load i18n %} 
{% get_current_language as language_code %}

<div id="vsf_footer">
	<div class="vsf_footer_background">



		<div class="container"
			style="padding-top: 32px; background: url(/commons/static/img/vsf_footer_map.svg); background-repeat: no-repeat; background-position-x: left;">
			<div class="row">
				<div class="col-md-6">
					<img src="/commons/static/img/vsf_venezuelainteligente.svg"
						alt="logo de venezuela inteligente"
						title="Venezuela Inteligente Logo" height=50></img>
				</div>
				<a class="col-md-2 vsf_footer_menu" href="">{% trans 'Homepage' %}</a> 
				<a class="col-md-2 vsf_footer_menu" href="">{% trans 'Noticias' %}</a> 
				<a class="col-md-2 vsf_footer_menu" href="">{% trans 'Guias' %} </a>
			</div>

			<div class="row">

				<div class="col-lg-2 col-sm-4">
					<img src="/commons/static/img/vsf_ips.png" alt="IPYS Venezuela"
						title="Logo IPS" height="100" width="auto">
				</div>
				<div class="col-lg-2 col-sm-4"></div>
				<div class="col-lg-2 col-sm-4"></div>
				<div class="col-lg-6 col-md-12">
					<strong> {% trans 'Sobre VE Sin Filtro' %} </strong>
					<p style="font-size: 12px">{% trans 'VE Sin Filtro es un proyecto iniciado por VE inteligente junto con instituto' %}</p>
					<p></p>
					<p>
						<img class="" src="/commons/static/img/CC-BY_icon.svg"
							alt="imagen SVG" title="imagen SVG" height="24"> {%trans 'by' %} <strong>{% trans 'Venezuela Sin Filtro' %}</strong>
						2017.{% trans 'All rights reserved' %}.
					</p>
				</div>
			</div>
		</div>

	</div>

</div>