{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% load bootstrap3 %}
{% get_current_language as language_code %}
{% block content %}
    <div class="container">
        <form action="" method="post">
            {% csrf_token %}
            <div class="row">
                <div class="col-md-6">
                    {% bootstrap_field form.start_date %}
                </div>
                <div class="col-md-6">
                    {% bootstrap_field form.end_date %}
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    {% bootstrap_field form.isp %}
                </div>
                <div class="col-md-6">
                    {% bootstrap_field form.categories %}
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    {% bootstrap_field form.regions %}
                </div>
                <div class="col-md-6">
                    {% bootstrap_field form.sites %}
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <input type="submit" class="pull-right btn btn-default" value="Search">
                </div>
            </div>
        </form>
        <hr>
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <table class="data-table table">
                    <thead>
                        <th>{% trans 'Fecha' %}</th>
                        <th>{% trans 'Caso' %}</th>
                        <th>{% trans 'Sitio' %}</th>
                        <th>{% trans 'ISP' %}</th>
                        <th>{% trans 'Categoria' %}</th>
                        <th>{% trans 'Region' %}</th>
                    </thead>
                    <tbody>
                        {% for case in cases %}
                            <tr>
                                <td>{{ case.start_date }}</td>
                                <td>{{ case.title }}</td>
                                <td>
                                    {% for domain in case.domains %}
                                        {% if domain.type == 'domain' %}
                                            {{ domain.domain }}
                                        {% elif domain.type == 'url' %}
                                            {{ domain.url }}
                                        {% elif domain.type == 'ip' %}
                                            {{ domain.ip }}
                                        {% else %}
                                            None
                                        {% endif %}
                                    {% endfor %}
                                </td>
                                <td>
                                    {% for isp in case.isp %}
                                        {{ isp.name }}
                                    {% endfor %}
                                </td>
                                <td>{{ case.category }}</td>
                                <td>
                                    {% for region in case.region %}
                                        {{ region.name }}
                                    {% endfor %}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock content %}

{% block extra-style %}
<link rel="stylesheet" type="text/css" href="{% static 'plugins/DataTables/media/css/jquery.dataTables.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'plugins/datepicker/datepicker3.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'plugins/select2/select2.min.css' %}">
{% endblock %}

{% block extra-js %}
<script type="application/javascript" src="{% static 'plugins/DataTables/media/js/jquery.dataTables.min.js' %}"></script>
<script type="application/javascript" src="{% static 'plugins/datepicker/bootstrap-datepicker.js' %}"></script>
<script type="application/javascript" src="{% static 'plugins/select2/select2.full.min.js' %}"></script>
<script type="application/javascript">
    $(".data-table").DataTable();
    $(".date-picker").datepicker();
    $(".select2").select2();
</script>
{% endblock %}
