/* RESPONSIVE */

$xs_only:   "(min-width:0) and (max-width: 543px)";
$sm_only:  "(min-width:544px) and (max-width:767px)";
$sm_down:  "(max-width:767px)";
$md_only:   "(min-width:768px) and (max-width:991px)";
$md_down:  "(max-width:991px)";
$lg_only:  "(min-width:992px) and (max-width:1199px)";
$lg_down:  "(max-width:1199px)";
$xl_only: "(min-width:1200px)";

$xl_fontSize: 44px;
$lg_fontSize: 26px;
$md_fontSize: 18px;
$sm_fontSize: 14px;
$xs_fontSize: 12px;

$medium_fontWeight: 500;

$black_fontColor: #000;
$darkGray_fontColor: #808184;
$gray_fontColor: #58595B;
$lightGray_fontColor: #666666;

$primary_fontFamily: Roboto;

body {
    font-family: $primary_fontFamily;   
    
}

h1 {
    font-size: $xl_fontSize;
    color: $black_fontColor;
    font-weight: $medium_fontWeight;
}

h2 {
    font-size: $lg_fontSize;
    color:$black_fontColor;
    font-weight: $medium_fontWeight;
}

h3 {
    font-size: $md_fontSize;
    color: $darkGray_fontColor;
    font-weight: bold;
}

h4 {
    font-size: $sm_fontSize;
    color: $darkGray_fontColor;
    font-weight: $medium_fontWeight;
}

h5 {
    font-size: $xs_fontSize;
    color: $gray_fontColor;
    font-weight:  $medium_fontWeight;
}

.headline {
    font-size: $sm_fontSize;
    color: $gray_fontColor;
    font-weight: bold;
}

.subtitle {
    font-size: $xs_fontSize;
    color: $gray_fontColor;
    font-weight: $medium_fontWeight;
    
}

p {
    font-size: $sm_fontSize;
    color: $lightGray_fontColor;
    font-weight: $medium_fontWeight;
    
}
 
/* RESPONSIVE */



@media #{$xs_only} {

}

@media #{$sm_only} {

}

@media #{$xs_down} {
    p {
        font-size: $lg_fontSize;
    } 
}

@media #{$md_only} {
 
}

@media #{$md_down} {

}

@media #{$lg_only} {

}

@media #{$xl_down} {

}

@media #{$xl_only} {
      
}