/* RESPONSIVE */
header {
  margin-bottom: 50px; }

body {
  height: 100%;
  font-family: Roboto, sans-serif;
  background-color: #DEDEDE;
  padding-top: 128px; }

.titleBarContent {
  border-radius: 8px;
  box-shadow: 0 12px 18px -12px rgba(0, 0, 0, 0.27), 0 3px 21px 0px rgba(0, 0, 0, 0.12), 0 6px 12px -6px rgba(0, 0, 0, 0.12);
  background: #f2f2f2;
  height: 45px;
  padding-left: 35px;
  padding: 10px 20px 10px 35px;
  text-transform: uppercase;
  margin-bottom: 20px !important; }

.white-background {
  background: white; }

.padding-title {
  padding-bottom: 15px;
  padding-top: 15px; }

.failedService {
  text-align: center; }

h1, .h1Style {
  font-size: 44px;
  color: #333333;
  font-weight: 700; }

h2, .h2Style {
  font-size: 26px;
  color: #333333;
  font-weight: 700; }

h3, .h3Style {
  font-size: 18px;
  color: #808080;
  font-weight: 700; }

h4, .h4Style {
  font-size: 14px;
  color: #808080;
  font-weight: 400; }

h5, .h5Style {
  font-size: 12px;
  color: #575757;
  font-weight: 400; }

.headline {
  font-size: 14px;
  color: #808080;
  font-weight: 700;
  text-transform: uppercase; }

.subtitle {
  font-size: 12px;
  color: #808080;
  font-weight: 400; }

p {
  font-size: 14px;
  color: #575757;
  font-weight: 400; }

ih1 {
  font-size: 44px;
  color: #fff;
  font-weight: bold; }

ih2 {
  font-size: 26px;
  color: #fff;
  font-weight: bold; }

ih3 {
  font-size: 18px;
  color: #808080;
  font-weight: bold; }

ih4 {
  font-size: 14px;
  color: #58595B;
  font-weight: regular; }

ih5 {
  font-size: 12px;
  color: #666666;
  font-weight: regular; }

.iheadline {
  font-size: 14px;
  color: #58595B;
  font-weight: bold;
  text-transform: uppercase; }

.isubtitle {
  font-size: 12px;
  color: #58595B;
  font-weight: bold; }

ip {
  font-size: 14px;
  color: #666666;
  font-weight: light; }

button {
  padding-left: 16px;
  padding-right: 16px;
  width: auto !important;
  height: 28px;
  border: none;
  outline: none;
  font-size: 14px;
  color: #58595B;
  font-weight: regular;
  background-color: white; }
  button:hover {
    font-weight: regular;
    background-color: #EBEBEB;
    color: #808080; }
  button:active {
    font-weight: medium;
    background-color: #d1d1d1;
    outline: none;
    font-weight: 700;
    color: white; }
  button:focus {
    outline: none; }

.contextualButtonFixedSize {
  width: 80px !important;
  height: 24px;
  border: 1px solid #EBEBEB;
  outline: none;
  background-color: #fff;
  border-radius: 8px;
  padding: 0; }
  .contextualButtonFixedSize:hover {
    border: none;
    font-weight: regular;
    background-color: #EBEBEB; }
  .contextualButtonFixedSize:active {
    font-weight: 700;
    background-color: #ABABAB;
    color: #fff;
    outline: none; }
  .contextualButtonFixedSize:focus {
    font-weight: 700;
    background-color: #ABABAB;
    color: #fff;
    outline: none; }

.contextualButton {
  border: 1px solid #EBEBEB;
  outline: none;
  background-color: #fff;
  border-radius: 8px;
  padding-left: 8px;
  padding-right: 8px; }
  .contextualButton:hover {
    border: none;
    font-weight: regular;
    background-color: #EBEBEB; }
  .contextualButton:active {
    font-weight: 700;
    background-color: #ABABAB;
    color: #fff;
    outline: none; }
  .contextualButton:focus {
    font-weight: 700;
    background-color: #ABABAB;
    color: #fff;
    outline: none; }

.continue_tag {
  display: inline-block; }
  .continue_tag .left_cornerTag {
    border-bottom: 5px solid #8cc63f;
    border-left: 5px solid transparent; }
  .continue_tag .right_cornerTag {
    border-bottom: 5px solid #8cc63f;
    border-right: 5px solid transparent;
    /** Flip vertically **/
    -moz-transform: scale(1, -1);
    -webkit-transform: scale(1, -1);
    -o-transform: scale(1, -1);
    -ms-transform: scale(1, -1);
    transform: scale(1, -1); }
  .continue_tag .contentTag {
    background: #8cc63f;
    line-height: 1.00;
    padding: 0px 16px;
    color: #fff; }

.positive_tag {
  display: inline-block;
  float: right; }
  .positive_tag .left_cornerTag {
    border-bottom: 5px solid #8cc63f;
    border-left: 5px solid transparent; }
  .positive_tag .right_cornerTag {
    border-bottom: 5px solid #8cc63f;
    border-right: 5px solid transparent;
    /** Flip vertically **/
    -moz-transform: scale(1, -1);
    -webkit-transform: scale(1, -1);
    -o-transform: scale(1, -1);
    -ms-transform: scale(1, -1);
    transform: scale(1, -1); }
  .positive_tag .contentTag {
    background: #8cc63f;
    line-height: 1.00;
    padding: 0px 16px;
    color: #fff; }

.info_tag {
  display: inline-block;
  float: right; }
  .info_tag .left_cornerTag {
    border-bottom: 5px solid cyan;
    border-left: 5px solid transparent; }
  .info_tag .right_cornerTag {
    border-bottom: 5px solid cyan;
    border-right: 5px solid transparent;
    /** Flip vertically **/
    -moz-transform: scale(1, -1);
    -webkit-transform: scale(1, -1);
    -o-transform: scale(1, -1);
    -ms-transform: scale(1, -1);
    transform: scale(1, -1); }
  .info_tag .contentTag {
    background: cyan;
    line-height: 1.00;
    padding: 0px 16px;
    color: #fff; }

.grave_tag {
  display: inline-block;
  float: right; }
  .grave_tag .left_cornerTag {
    border-bottom: 5px solid #ff2115;
    border-left: 5px solid transparent; }
  .grave_tag .right_cornerTag {
    border-bottom: 5px solid #ff2115;
    border-right: 5px solid transparent;
    /** Flip vertically **/
    -moz-transform: scale(1, -1);
    -webkit-transform: scale(1, -1);
    -o-transform: scale(1, -1);
    -ms-transform: scale(1, -1);
    transform: scale(1, -1); }
  .grave_tag .contentTag {
    background: #ff2115;
    line-height: 1.00;
    padding: 0px 16px;
    color: #fff; }

.blocked_tag {
  display: inline-block; }
  .blocked_tag .left_cornerTag {
    border-bottom: 5px solid #ff2115;
    border-left: 5px solid transparent; }
  .blocked_tag .right_cornerTag {
    border-bottom: 5px solid #ff2115;
    border-right: 5px solid transparent;
    /** Flip vertically **/
    -moz-transform: scale(1, -1);
    -webkit-transform: scale(1, -1);
    -o-transform: scale(1, -1);
    -ms-transform: scale(1, -1);
    transform: scale(1, -1); }
  .blocked_tag .contentTag {
    background: #ff2115;
    line-height: 1.00;
    padding: 0px 16px;
    color: #fff; }

.disconnected_tag {
  display: inline-block; }
  .disconnected_tag .left_cornerTag {
    border-bottom: 5px solid #bd2126;
    border-left: 5px solid transparent; }
  .disconnected_tag .right_cornerTag {
    border-bottom: 5px solid #bd2126;
    border-right: 5px solid transparent;
    /** Flip vertically **/
    -moz-transform: scale(1, -1);
    -webkit-transform: scale(1, -1);
    -o-transform: scale(1, -1);
    -ms-transform: scale(1, -1);
    transform: scale(1, -1); }
  .disconnected_tag .contentTag {
    background: #bd2126;
    line-height: 1.00;
    padding: 0px 16px;
    color: #fff; }

.slowdown_tag {
  display: inline-block; }
  .slowdown_tag .left_cornerTag {
    border-bottom: 5px solid #ebe70e;
    border-left: 5px solid transparent; }
  .slowdown_tag .right_cornerTag {
    border-bottom: 5px solid #ebe70e;
    border-right: 5px solid transparent;
    /** Flip vertically **/
    -moz-transform: scale(1, -1);
    -webkit-transform: scale(1, -1);
    -o-transform: scale(1, -1);
    -ms-transform: scale(1, -1);
    transform: scale(1, -1); }
  .slowdown_tag .contentTag {
    background: #ebe70e;
    line-height: 1.00;
    padding: 0px 16px;
    color: #fff; }

.connected_tag {
  display: inline-block; }
  .connected_tag .left_cornerTag {
    border-bottom: 5px solid #8cc63f;
    border-left: 5px solid transparent; }
  .connected_tag .right_cornerTag {
    border-bottom: 5px solid #8cc63f;
    border-right: 5px solid transparent;
    /** Flip vertically **/
    -moz-transform: scale(1, -1);
    -webkit-transform: scale(1, -1);
    -o-transform: scale(1, -1);
    -ms-transform: scale(1, -1);
    transform: scale(1, -1); }
  .connected_tag .contentTag {
    background: #8cc63f;
    line-height: 1.00;
    padding: 0px 16px;
    color: #fff; }

.fail_tag {
  display: inline-block; }
  .fail_tag .left_cornerTag {
    border-bottom: 5px solid #ebe70e;
    border-left: 5px solid transparent; }
  .fail_tag .right_cornerTag {
    border-bottom: 5px solid #ebe70e;
    border-right: 5px solid transparent;
    /** Flip vertically **/
    -moz-transform: scale(1, -1);
    -webkit-transform: scale(1, -1);
    -o-transform: scale(1, -1);
    -ms-transform: scale(1, -1);
    transform: scale(1, -1); }
  .fail_tag .contentTag {
    background: #ebe70e;
    line-height: 1.00;
    padding: 0px 16px;
    color: #fff; }

.dos_tag {
  display: inline-block; }
  .dos_tag .left_cornerTag {
    border-bottom: 5px solid #bd2126;
    border-left: 5px solid transparent; }
  .dos_tag .right_cornerTag {
    border-bottom: 5px solid #bd2126;
    border-right: 5px solid transparent;
    /** Flip vertically **/
    -moz-transform: scale(1, -1);
    -webkit-transform: scale(1, -1);
    -o-transform: scale(1, -1);
    -ms-transform: scale(1, -1);
    transform: scale(1, -1); }
  .dos_tag .contentTag {
    background: #bd2126;
    line-height: 1.00;
    padding: 0px 16px;
    color: #fff; }

.interception_tag {
  display: inline-block; }
  .interception_tag .left_cornerTag {
    border-bottom: 5px solid #ebe70e;
    border-left: 5px solid transparent; }
  .interception_tag .right_cornerTag {
    border-bottom: 5px solid #ebe70e;
    border-right: 5px solid transparent;
    /** Flip vertically **/
    -moz-transform: scale(1, -1);
    -webkit-transform: scale(1, -1);
    -o-transform: scale(1, -1);
    -ms-transform: scale(1, -1);
    transform: scale(1, -1); }
  .interception_tag .contentTag {
    background: #ebe70e;
    line-height: 1.00;
    padding: 0px 16px;
    color: #fff; }

/* Bars */
.titleBar {
  padding: 16px 16px 8px 24px;
  border-radius: 8px;
  background: white; }
  .titleBar .date {
    text-align: right;
    padding-top: 8px; }

.smallBar {
  background: white;
  padding: 0; }
  .smallBar .title {
    padding: 8px 16px 8px 24px;
    margin: 0; }

.subtitleBar {
  padding: 0;
  height: 36px;
  border-radius: 8px;
  background: white; }
  .subtitleBar .title {
    padding: 8px 16px 8px 24px;
    margin: 0;
    text-transform: uppercase; }

.timelineBarContinue {
  color: white;
  height: 20px;
  padding: 0;
  width: 105%;
  background-color: #8cc63f; }
  .timelineBarContinue .date {
    font-weight: bold;
    padding: 0px;
    padding-left: 5px; }
  .timelineBarContinue .status {
    text-align: right;
    padding: 0;
    padding-right: 16px; }
  .timelineBarContinue:after {
    right: 100%;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    border-color: transparent;
    border-right-color: #8cc63f;
    border-width: 10px;
    margin-top: -10px; }

.timelineBarClosed {
  color: white;
  height: 20px;
  padding: 0;
  width: 100%;
  font-weight: bold;
  background-color: #ff2115; }
  .timelineBarClosed .date {
    font-weight: bold;
    padding: 0px;
    padding-left: 5px; }
  .timelineBarClosed .status {
    text-align: right;
    padding: 0;
    padding-right: 4px; }
  .timelineBarClosed:after {
    right: 100%;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    border-color: transparent;
    border-right-color: #ff2115;
    border-width: 10px;
    margin-top: -10px; }
  .timelineBarClosed:before {
    left: 100%;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    border-color: transparent;
    border-right-color: #ff2115;
    border-width: 10px;
    margin-top: -10px;
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH"; }

.toolbar {
  border: 2px solid #A0A0A0;
  height: 40px;
  display: flex;
  align-items: center;
  padding: 0px; }

.updateBar {
  padding-top: 14px;
  padding-bottom: 14px;
  background-color: #EBEBEB;
  display: flex;
  align-items: center; }
  .updateBar .content {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 14px;
    color: #575757;
    font-weight: 400; }
  .updateBar .dateYear {
    font-size: 12px;
    color: #808080;
    font-weight: 400; }
  .updateBar .symbolBlocked {
    width: 24px;
    height: 24px;
    background: #ff2115;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg); }
  .updateBar .share {
    text-align: right; }
    .updateBar .share a {
      color: #808080;
      text-decoration: none;
      padding-left: 10px; }
      .updateBar .share a i {
        font-size: 18px; }

/* RESPONSIVE */
@media (max-width: 767px) {
  p {
    font-size: 26px; } }
@media (min-width: 768px) and (max-width: 900px) {
  .bodyContent {
    max-width: 768px;
    margin: auto; } }
@media (min-width: 901px) and (max-width: 1024px) {
  .bodyContent {
    max-width: 900px;
    margin: auto; } }
@media (min-width: 1025px) {
  .bodyContent {
    max-width: 1024px;
    margin: auto; } }
* {
  margin: 0;
  padding: 0; }

.navbar {
  padding: 0px 0px;
  height: 110 px; }

.navbar input[type=text]:focus {
  width: 110px; }

.bg-faded {
  background: #333333; }

.navbar_big {
  background-color: #1f1f1f;
  height: 88px;
  padding: 0px 0px; }

.navbar-brand_big img {
  height: 48px !important; }

.navbar_small {
  max-width: 1024px;
  margin: 0 auto; }

.navbar-brand img {
  height: 36px; }

.navbar-brand_hide {
  display: none; }

.nav-item {
  text-transform: uppercase; }

.navbar_search {
  padding-left: 14px;
  padding-right: 14px; }

.navbar-toggleable-md .navbar-nav .nav-link {
  padding-right: 14px;
  padding-left: 14px; }

.nav-link {
  color: #c9c9c9; }

.nav-item:hover {
  background: none; }
.nav-item a:hover {
  color: #fff; }

.form-control {
  background: none;
  border: none;
  border-bottom: 1px solid #fff;
  border-radius: 0px;
  padding-bottom: 8px;
  padding: 2px 0px 2px 0px;
  font-size: 15px;
  font-weight: 400;
  text-transform: uppercase;
  color: #fff;
  line-height: 20px; }
  .form-control:focus {
    background: none;
    color: #fff; }

.form-inline .form-control {
  width: 124px; }

.btn-secondary {
  background: transparent;
  border: none;
  border-bottom: 1px solid #fff;
  border-radius: 0px; }
  .btn-secondary:hover {
    background: none;
    border-color: #4067e1; }

.btn_iconsearch {
  padding: 0px 0px 5px 5px;
  height: 24px; }

.iconsearch {
  height: 18px; }

.icontranslate {
  width: 56px;
  padding-left: 5px;
  padding-top: 8px;
  padding-bottom: 8px;
  color: #fff; }

.icontranslate path {
  fill: #fff; }

#searchBar {
  margin-top: -17px;
  margin-bottom: -15px; }

.dropdown-toggle::after {
  margin-right: -2px; }

.dropdown-item:hover {
  background-color: #c9c9c9;
  color: #fff; }

#imageTranslate {
  padding-left: 3px; }

#vsf_footer {
  padding-top: 70px;
  background-color: #DEDEDE; }

.vsf_footer_background {
  background: #EBEBEB; }

.vsf_footer_map img {
  position: absolute; }

.vsf_footer_menu {
  padding-top: 40px;
  padding-bottom: 16px;
  color: #4067e1;
  text-transform: uppercase; }
  .vsf_footer_menu:hover {
    font-weight: 700 !important;
    text-decoration: none !important;
    color: #4067e1; }

@media screen and (max-width: 991px) {
  #navbarResponsive {
    margin-top: 48px; }

  header nav {
    height: 48px; }

  .nav-item {
    background: #333333; }

  .nav-item:hover {
    background: #333333; }

  .navbar-brand_hide {
    display: block;
    padding-left: 16px; }

  .navbar_big {
    display: none; }

  .navbar_search {
    background: #333333;
    padding: 8px 16px; } }
#focusBlocked {
  color: #fff;
  background-color: #adadad;
  font-weight: 700; }

#blockedTableBorder {
  padding: 1px;
  border-radius: 8px;
  background-color: #fff; }

#countBlocked {
  background-color: #ff2114;
  font-size: 90%;
  font-weight: 700;
  line-height: 15px; }

#blocktitle {
  font-weight: 700;
  color: #575757;
  padding-left: 16px; }

#blocktable {
  border-radius: 8px;
  overflow: auto;
  height: 330px;
  padding: 0px 16px 0px; }

#blocktable::-webkit-scrollbar {
  background: white;
  width: 15px; }

#blocktable::-webkit-scrollbar-thumb {
  background-image: url("/commons/static/img/icons/vsf_iconscrollbar_v101.svg?f9f306ca992a");
  background-repeat: no-repeat;
  height: 150px;
  background-position: center; }

#blocktable::-webkit-scrollbar-button:start {
  background-image: url("/commons/static/img/icons/vsf_iconarrow_v101.svg?f9f306ca992a");
  background-position: center;
  background-repeat: no-repeat; }

#blocktable::-webkit-scrollbar-button:end {
  background-image: url("/commons/static/img/icons/vsf_iconarrowdown_v101_end.svg?f9f306ca992a");
  background-position: center;
  background-repeat: no-repeat; }

#rowTitleDataBlocked {
  width: 100%;
  color: #fff;
  padding-left: 16px; }

#BlockName {
  text-transform: capitalize;
  padding-left: 16px;
  height: 40px; }

#summaryTableBorder {
  padding: 1px;
  border-radius: 8px;
  background-color: #fff;
  margin-top: 15px; }

#countSummary {
  background-color: #ff2114;
  font-size: 90%;
  font-weight: 700;
  line-height: 15px; }

.table .table-hover tbody tr:hover td, .table tbody tr:hover th {
  color: #fff;
  background-color: #EBEBEB; }

.table .table-hover tbody tr:active td, .table tbody tr:active th {
  color: #fff;
  background-color: #d1d1d1;
  font-weight: 700; }

#tabletitle {
  font-weight: 700;
  color: #575757;
  padding-left: 16px; }

#sumtable {
  border-radius: 8px;
  overflow: auto;
  height: 330px;
  padding: 0px 16px 0px; }

#sumtable::-webkit-scrollbar {
  background: white;
  width: 15px; }

#sumtable::-webkit-scrollbar-thumb {
  background-image: url("/commons/static/img/icons/vsf_iconscrollbar_v101.svg?f9f306ca992a");
  background-repeat: no-repeat;
  height: 150px;
  background-position: center; }

#sumtable::-webkit-scrollbar-button:start {
  background-image: url("/commons/static/img/icons/vsf_iconarrow_v101.svg?f9f306ca992a");
  background-position: center;
  background-repeat: no-repeat; }

#sumtable::-webkit-scrollbar-button:end {
  background-image: url("/commons/static/img/icons/vsf_iconarrowdown_v101_end.svg?f9f306ca992a");
  background-position: center;
  background-repeat: no-repeat; }

#rowName {
  text-transform: capitalize;
  padding-left: 16px;
  height: 40px; }

#rowTitleDataCategory {
  color: #fff;
  max-width: 50px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-left: 16px;
  width: 100%; }

#rowTitleDataIsp {
  width: 100%;
  color: #fff;
  padding-left: 16px; }

.marginPage {
  background-color: #DEDEDE; }

#focusSummary {
  color: #fff;
  background-color: #adadad;
  font-weight: 700; }

tr {
  font-size: 14px;
  font-weight: 400;
  color: #808080; }

.tag {
  font-size: 13px;
  height: 22px;
  font-weight: 700; }

#tabletitle {
  font-weight: normal;
  color: #575757;
  height: 36px; }

.contentTag {
  text-transform: capitalize; }

.tag-default {
  background-color: #adadad; }
  .tag-default:active {
    background-color: #fff;
    color: #adadad; }

#modalm {
  position: relative;
  display: table;
  overflow-x: auto;
  width: auto;
  min-width: 300px; }

#measurementHeaderRow {
  border-bottom-width: 1px;
  border-bottom-color: darkgrey;
  border-bottom-style: solid;
  height: 1px; }

#mTable {
  margin-top: 200px;
  background-color: #DEDEDE; }

.mheader {
  color: #575757;
  font-weight: 700;
  transform: rotate(-90deg);
  transform-origin: left top 0;
  float: left;
  padding: 0;
  text-transform: uppercase; }

#dataTableM {
  height: 36px; }

#headerDiv {
  height: 0px; }

#mRow {
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 15px; }

#mRow:hover {
  background-color: #d1d1d1; }

.mData {
  float: left;
  font-size: 12px;
  color: #808184;
  font-weight: 500;
  padding: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }

#mDataDate {
  margin-left: -5px; }

#modalbutton {
  text-decoration: underline;
  color: #575757;
  cursor: pointer; }

#listBlocked {
  background: white;
  border: 1px solid white;
  border-radius: 5px;
  margin: 10px;
  height: 330px;
  padding: 0; }
  #listBlocked > div:first-child {
    border-bottom: 1px solid #E8E8E8;
    color: black;
    text-transform: uppercase;
    padding-top: 5px; }
    #listBlocked > div:first-child h4 {
      display: inline;
      font-weight: unset;
      color: black; }

#blockedSitesList div {
  border-bottom: 2px solid #E8E8E8;
  padding: 0;
  padding-top: 5px; }
  #blockedSitesList div span {
    padding: 0; }
    #blockedSitesList div span a i {
      color: red; }

#countMap {
  float: none;
  padding: 0;
  border: 1px solid red;
  background: red;
  color: white;
  border-radius: 50%;
  padding-left: 5px;
  padding-right: 5px;
  margin-left: 10px;
  display: inline; }

.downloadBlockedSitesUrl {
  padding-right: 25px;
  padding-top: 10px; }

.cursor {
  cursor: pointer; }

.mapContainer {
  padding: 24px 0px 24px; }
  .mapContainer > div:first-child {
    height: 580px;
    background: #333333;
    border: 1px solid transparent;
    border-radius: 8px; }
  .mapContainer .map svg {
    margin-left: 40px;
    height: 550px;
    width: 550px; }
  .mapContainer .map #mapSelectorContainer {
    z-index: 50;
    margin-top: -135px;
    margin-left: 50px; }

.map g.hover {
  fill: #D2D2D2 !important; }

.map g:hover {
  fill: #D2D2D2 !important; }

.map g.no-hover {
  fill: #A7A7A7 !important; }

.map select {
  background: #333333;
  border: none;
  border-bottom: blue 1px solid;
  color: white;
  outline: none; }

.downloadMap i {
  color: white; }

.informationPanel {
  z-index: 100;
  position: absolute;
  text-align: center;
  width: auto;
  height: auto;
  border: black 1px solid;
  border-radius: 5px;
  padding: 8px;
  font: 10px sans-serif;
  background: #ddd;
  pointer-events: none; }

.informationPanelGantt {
  position: relative;
  background-color: #fff;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: .3rem;
  outline: 0;
  width: 300px; }
  .informationPanelGantt .informationPanelState {
    font-size: 14px;
    color: #808080;
    font-weight: 400;
    padding: 8px 16px 8px 24px;
    margin: 0;
    text-transform: uppercase; }

#listRegion {
  border-radius: 5px; }
  #listRegion > div:first-child {
    border-bottom: 1px solid #E8E8E8;
    color: black;
    text-transform: uppercase;
    padding-top: 5px;
    border-radius: 8px 8px 0px 0px; }
    #listRegion > div:first-child h4 {
      display: inline;
      font-weight: unset;
      color: black; }
  #listRegion .subtitleBar {
    padding: 0px 5px 0px 5px; }
  #listRegion .subtitleBar > span {
    padding: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; }
  #listRegion .title {
    padding-left: 5px; }

#caseRegionListContainer {
  padding: 0 !important; }

#caseregionList {
  height: 545px;
  overflow: auto;
  background: white;
  border-radius: 0px 0px 8px 8px; }

#caseregionList::-webkit-scrollbar {
  background: white;
  width: 15px; }

#caseregionList::-webkit-scrollbar-thumb {
  background-image: url("/commons/static/img/icons/vsf_iconscrollbar_v102.svg?f9f306ca992a");
  background-repeat: no-repeat;
  height: 50px !important;
  background-position: center; }

#caseregionList::-webkit-scrollbar-button:start {
  background-image: url("/commons/static/img/icons/vsf_iconarrow_v101.svg?f9f306ca992a");
  background-position: center;
  background-repeat: no-repeat; }

#caseregionList::-webkit-scrollbar-button:end {
  background-image: url("/commons/static/img/icons/vsf_iconarrowdown_v101_end.svg?f9f306ca992a");
  background-position: center;
  background-repeat: no-repeat; }

#caseRegionListContainer {
  padding-left: 10px;
  padding-right: 10px; }

.first, .first > div {
  padding: 0px; }

input#title {
  border: none;
  padding: 0px 0px;
  width: 100%;
  background: transparent; }

#advanced_search #submit {
  background: transparent;
  background-repeat: no-repeat;
  background-image: url('/commons/static/img/icons/vsf_iconsearch_v101.svg?3119de80434d&f9f306ca992a');
  border: none;
  background-size: contain;
  margin-top: 10px;
  height: 15px;
  width: 90%; }

.chosen-container-multi .chosen-choices li.search-choice {
  padding: 6px 20px 6px 6px;
  border: none; }

.chosen-container .chosen-results li.highlighted {
  background: #EBEBEB;
  color: #B3B3B3; }

#advanced_search div {
  padding-left: 0; }

#advanced_search .first {
  margin-bottom: 8px;
  border-bottom: 2px solid #c9c9c9;
  background: transparent; }

#advanced_search .reportrange {
  background: transparent; }

#advanced_search .chosen-choices {
  background: none;
  border: none; }

#advanced_search .chosen-container {
  border-bottom: 2px solid #c9c9c9;
  border-right: 2px solid #c9c9c9;
  border-left: 2px solid #c9c9c9;
  position: relative;
  width: 23.95% !important;
  margin-right: 1%; }

#site_chosen.chosen-container {
  margin-right: 0; }

.multipleChoices, .resumeResult {
  margin-bottom: 16px; }

.multipleChoices {
  padding-right: 0px; }

#advanced_search .chosen-container:after {
  padding: 0;
  margin: 0;
  display: block;
  /* not really needed */
  content: "";
  height: 80%;
  width: 2px;
  background: #DEDEDE;
  position: absolute;
  top: 0;
  right: -2px; }

#advanced_search .chosen-container:before {
  padding: 0;
  margin: 0;
  display: block;
  /* not really needed */
  content: "";
  height: 80%;
  width: 2px;
  background: #DEDEDE;
  position: absolute;
  top: 0;
  left: -2px; }

.resultadosAdvanced {
  padding-left: 0; }

.downloadBar {
  font-size: 1.2em;
  text-align: right;
  float: right; }

.dateStartSort, .dateEndSort, .nameSort, .siteSort, .ispSort, .regionSort {
  margin-left: 15px;
  margin-right: 15px;
  overflow: hidden;
  text-overflow: ellipsis; }

.categorySort {
  margin-left: 15px;
  margin-right: 15px; }

.dateStartSort {
  margin-left: 0px; }

.siteSort {
  margin-left: 30px; }

.search .nameSort, .search .siteSort, .search .ispSort, .search .regionSort {
  margin-left: 0px;
  margin-right: 0px;
  padding: 0;
  padding-top: 8px; }
.search .dateSort {
  margin-left: 0px;
  margin-right: 0px;
  padding: 0; }
.search .categorySort {
  margin-left: 0px;
  margin-right: 0px;
  padding: 0;
  padding-top: 5px; }

#reportrange {
  cursor: pointer;
  padding-top: 5px;
  padding-bottom: 5px; }

.searchIcon {
  cursor: pointer;
  margin-left: 25px; }

#dateStartClick, #dateEndClick, #dateClick, #nameClick, #siteClick, #ispClick, #categoryClick, #regionClick {
  padding-left: 0px;
  padding-top: 0px;
  padding-bottom: 12px;
  padding-right: 0;
  margin-left: 15px;
  margin-right: 15px; }
  #dateStartClick:hover, #dateEndClick:hover, #dateClick:hover, #nameClick:hover, #siteClick:hover, #ispClick:hover, #categoryClick:hover, #regionClick:hover {
    cursor: pointer; }

.listCasesContainer .subtitleBar {
  height: 48px; }

.search #dateClick, .search #nameClick, .search #siteClick, .search #ispClick, .search #categoryClick, .search #regionClick {
  padding-left: 0px;
  padding-top: 0px;
  padding-right: 0;
  margin-left: 0px;
  margin-right: 0px;
  padding-bottom: 14px;
  padding-top: 10px; }
  .search #dateClick:hover, .search #nameClick:hover, .search #siteClick:hover, .search #ispClick:hover, .search #categoryClick:hover, .search #regionClick:hover {
    cursor: pointer; }

.listCasesAdvanced {
  margin-bottom: 5px;
  margin-left: 15px;
  margin-right: 15px; }
  .listCasesAdvanced .smallBar {
    padding-bottom: 16px;
    background: transparent;
    border-bottom: 1px solid gray; }

.listCasesContainer .subtitleBar {
  border-radius: 5px; }

.listCases .smallBar:first-of-type {
  border-radius: 5px 5px 0px 0px; }

.listCases .smallBar:hover {
  background: #EBEBEB; }

.listCases .smallBar:last-of-type {
  border-radius: 0px 0px 5px 5px; }

.selectOrder {
  border-bottom: 3px solid #4067e1;
  padding-bottom: 11px;
  font-weight: bold; }

.selectOrderAdvanced {
  border-bottom: 3px solid #333333;
  padding-bottom: 8px !important;
  font-weight: 700;
  color: #333333; }

.selectedColumnAdvanced {
  font-weight: 700;
  color: #575757; }

.advancedSearchText {
  font-weight: bold;
  color: black;
  text-decoration: underline;
  text-align: right;
  color: #c3c3c3; }

/* Measurements table */
#jsonClose {
  font-size: 1rem; }

#mtablehead th {
  text-align: center; }

#mtablebody tr {
  text-align: center; }

#mModalHeader {
  height: 30px;
  text-transform: uppercase; }

#mModalContent {
  border-radius: 8px; }

#closeButton {
  vertical-align: super;
  margin-right: 15px;
  font-size: x-large;
  font-weight: 300; }

#modalButton {
  height: 28px;
  width: auto !important;
  padding-left: 16px;
  padding-right: 16px;
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase; }

#measurementFooter {
  height: 40px;
  padding-top: 5px;
  padding-bottom: 5px; }

#measurementTitle {
  margin-top: -8px; }

#mModalID {
  font-weight: 400; }

.twitter-tweet {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  padding: 0;
  width: 100%; }

.noTranslation {
  background-color: #FFFFCC !important; }

#caseDescriptionContent {
  padding: 0px 100px 0px 100px; }

#twitterDiv {
  float: right;
  height: 330px;
  padding: 0px;
  padding-right: 10px;
  border-radius: 8px;
  background-color: white; }

.watermark {
  background: rgba(230, 230, 230, 0.51);
  width: 100%;
  height: 330px;
  border-radius: 8px;
  position: relative;
  top: 0;
  left: 0; }

.watermark p {
  position: relative;
  top: -60%;
  left: 40%;
  color: black;
  cursor: pointer; }

#twitterTweet {
  height: 229px;
  overflow: auto; }
  #twitterTweet .failedService {
    border-radius: 8px 8px 0 0;
    padding-top: 20%;
    height: 100%;
    background: #dadada; }

#twitterSearchText, .twitterSearchText {
  height: 229px;
  margin-bottom: 8px; }
  #twitterSearchText #twitterSearchTextContent, #twitterSearchText .twitterSearchTextContent, .twitterSearchText #twitterSearchTextContent, .twitterSearchText .twitterSearchTextContent {
    background: white;
    padding: 0; }
    #twitterSearchText #twitterSearchTextContent .title, #twitterSearchText .twitterSearchTextContent .title, .twitterSearchText #twitterSearchTextContent .title, .twitterSearchText .twitterSearchTextContent .title {
      padding: 8px 16px 8px 24px;
      margin: 0;
      overflow: hidden; }
  #twitterSearchText #twitterSearchTextTitle, #twitterSearchText .twitterSearchTextTitle, .twitterSearchText #twitterSearchTextTitle, .twitterSearchText .twitterSearchTextTitle {
    padding: 0;
    height: 36px;
    background: white; }
    #twitterSearchText #twitterSearchTextTitle .title, #twitterSearchText .twitterSearchTextTitle .title, .twitterSearchText #twitterSearchTextTitle .title, .twitterSearchText .twitterSearchTextTitle .title {
      padding: 8px 16px 8px 24px;
      margin: 0;
      text-transform: uppercase; }

#twitterTweet::-webkit-scrollbar {
  background: white;
  width: 15px; }

#twitterDiv #twitterTweet::-webkit-scrollbar-thumb {
  background-image: url("/commons/static/img/icons/vsf_iconscrollbar_v101.svg?f9f306ca992a");
  background-repeat: no-repeat;
  height: 150px;
  background-position: center; }

#twitterDiv #twitterTweet::-webkit-scrollbar-button:start {
  height: 36px;
  background-image: url("/commons/static/img/icons/vsf_iconarrow_v101.svg?809b3d26489e&f9f306ca992a");
  background-repeat: no-repeat;
  background-position: top 16px left 0; }

#twitterDiv #twitterTweet::-webkit-scrollbar-button:end {
  background-image: url("/commons/static/img/icons/vsf_iconarrowdown_v101_end.svg?809b3d26489e&f9f306ca992a");
  background-position: center;
  background-repeat: no-repeat; }

#twitterDiv twitterwidget::shadow .EmbeddedTweet {
  border-radius: 8px; }

#twitterDiv twitterwidget::shadow .Tweet-metadata, twitterwidget::shadow .Tweet-body, twitterwidget::shadow .Tweet-header {
  font-size: 12px; }

#twitterDiv twitterwidget::shadow .EmbeddedTweet-tweet {
  border: none !important; }

#twitterDiv twitterwidget::shadow .EmbeddedTweet {
  border: none !important; }

#twitterDiv twitterwidget::shadow .Tweet-card, #twitterDiv twitterwidget::shadow .Tweet-actions, #twitterDiv twitterwidget::shadow .TweetAuthor-screenName,
#twitterDiv twitterwidget::shadow .Tweet-brand, #twitterDiv twitterwidget::shadow .MediaCard-media {
  display: none; }

#twitterDiv twitterwidget::shadow .TweetAuthor-name {
  display: block;
  margin-top: 7px; }

.global-modal {
  position: fixed;
  width: auto;
  min-width: 500px;
  top: 5%;
  bottom: 5%;
  left: 20%;
  right: 20%;
  min-width: 500px;
  border-radius: 8px; }
  .global-modal .modal-footer {
    height: 550px;
    overflow: scroll; }
    .global-modal .modal-footer::-webkit-scrollbar {
      background: white;
      width: 15px; }
    .global-modal .modal-footer::-webkit-scrollbar-thumb:vertical {
      background-image: url("/commons/static/img/icons/vsf_iconscrollbar_v102.svg?8f4ac434178e&f9f306ca992a");
      background-repeat: no-repeat;
      height: 50px !important;
      background-position: center; }
    .global-modal .modal-footer::-webkit-scrollbar-thumb:horizontal {
      background-image: url("/commons/static/img/icons/VSF_IconScrollBarHorizontalLarge_v1.0.1.svg?f9f306ca992a");
      background-repeat: no-repeat;
      height: 50px !important;
      background-position: center; }
    .global-modal .modal-footer::-webkit-scrollbar-button:vertical:start {
      background-image: url("/commons/static/img/icons/vsf_iconarrow_v101.svg?170e96b76754&f9f306ca992a");
      background-position: center;
      background-repeat: no-repeat; }
    .global-modal .modal-footer::-webkit-scrollbar-button:vertical:end {
      background-image: url("/commons/static/img/icons/vsf_iconarrowdown_v101_end.svg?170e96b76754&f9f306ca992a");
      background-position: center;
      background-repeat: no-repeat; }
    .global-modal .modal-footer::-webkit-scrollbar-button:horizontal:start {
      background-image: url("/commons/static/img/icons/vsf_iconarrowleft_v101.svg?f9f306ca992a");
      background-position: center;
      background-repeat: no-repeat; }
    .global-modal .modal-footer::-webkit-scrollbar-button:horizontal:end {
      background-image: url("/commons/static/img/icons/vsf_iconarrowright_v101.svg?f9f306ca992a");
      background-position: center;
      background-repeat: no-repeat; }
  .global-modal twitterwidget::shadow .EmbeddedTweet {
    max-width: 100%; }
  .global-modal .twitter-tweet {
    width: auto !important; }

.modal-open .modal {
  overflow-x: hidden;
  overflow-y: hidden; }

.modal-header {
  padding-left: 15px;
  padding-top: 15px; }

#caseImage {
  padding-left: 0;
  clip-path: inset(0px 1px 1px 0px);
  max-height: 268px; }
  #caseImage img {
    border-radius: 8px;
    overflow: hidden; }
  #caseImage .img-fluid {
    clip-path: inset(0px 0px 25% 0px);
    -webkit-clip-path: inset(0px 0px 25% 0px);
    clip-path: url('#myClip'); }

.owl-item {
  max-height: 268px; }

#caseInfo {
  height: 268px; }

.updates {
  cursor: pointer; }
  .updates .updateBar, .updates .subtitleBar {
    background-color: transparent; }
  .updates #updateTitle {
    color: #b3b3b3;
    font-weight: bold;
    text-transform: uppercase; }
  .updates .failedService {
    background: #dadada;
    border-radius: 8px;
    margin-left: 20px;
    margin-right: 20px; }

#updateListAjax {
  margin-left: 30px;
  margin-right: 30px; }

.timeline1 .failedService {
  background: #dadada;
  border-radius: 8px;
  margin-left: 20px;
  margin-right: 20px; }

.tick line {
  fill: none;
  stroke: #d51717;
  stroke-width: 1.0; }

.cards .subtitleBar {
  background-color: transparent; }
.cards #cardsTitle {
  color: #b3b3b3;
  font-weight: bold;
  text-transform: uppercase; }

.subGraphDiv {
  padding-top: 15px;
  margin-left: 15px;
  margin-bottom: 15px;
  margin-right: 15px; }

.updateBar {
  padding-left: 0; }
  .updateBar div {
    padding-left: 0; }
    .updateBar div div {
      padding-left: 0; }
      .updateBar div div div {
        padding-left: 0; }
        .updateBar div div div div {
          padding-left: 0; }

#owl-demo .item img {
  display: block;
  width: 100%;
  height: auto; }

.owl-carousel {
  position: relative; }

.owl-prev, .owl-next {
  position: absolute;
  top: 50%;
  margin-top: -10px; }

.owl-prev {
  left: 0; }

.owl-next {
  right: 0; }

.owl-theme .owl-dots .owl-dot span {
  border-radius: 0;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg); }

.owl-dot {
  padding-top: 8px;
  padding-bottom: 8px; }

.owl-dots {
  background: rgba(255, 255, 255, 0.6);
  border-radius: 0 0 8px 8px;
  margin-top: -35px;
  position: relative;
  height: 36px; }

#rowDomain {
  color: #fff;
  background-color: #adadad;
  font-weight: 400;
  width: 100%; }

.rowDomain {
  color: #fff;
  background-color: #c9c9c9;
  font-weight: 400;
  width: 100%; }

.rowDomain:hover {
  background-color: #EBEBEB;
  color: #adadad; }

#caseDomainList {
  overflow: auto;
  height: 176px;
  margin-top: 8px;
  padding-left: 0px;
  padding-right: 0px;
  margin-bottom: 8px;
  border-radius: 8px;
  background: #fff; }

#caseDomainList::-webkit-scrollbar {
  background: white;
  width: 15px; }

#caseDomainList::-webkit-scrollbar-thumb {
  background-image: url("/commons/static/img/icons/vsf_iconscrollbar_v102.svg?f9f306ca992a");
  background-repeat: no-repeat;
  height: 50px !important;
  background-position: center; }

#caseDomainList::-webkit-scrollbar-button:start {
  background-image: url("/commons/static/img/icons/vsf_iconarrow_v101.svg?f9f306ca992a");
  background-position: center;
  background-repeat: no-repeat; }

#caseDomainList::-webkit-scrollbar-button:end {
  background-image: url("/commons/static/img/icons/vsf_iconarrowdown_v101_end.svg?f9f306ca992a");
  background-position: center;
  background-repeat: no-repeat; }

#dateBar {
  padding-top: 8px;
  padding-left: 10px;
  padding-right: 8px;
  margin-bottom: 8px; }

#providerBar {
  background-color: #fff;
  border-radius: 8px;
  border: 0px;
  position: absolute;
  bottom: 0;
  width: 100%; }

#caseCategory {
  padding-left: 16px;
  border-top: 0; }

#tableDomain {
  border-radius: 8px;
  background-color: #fff; }

#domainTableTile {
  padding-left: 0px; }

#nameDomain {
  color: #333333;
  font-weight: 700;
  padding-left: 16px;
  border-top: 0;
  border-bottom: 0; }

#siteDomain {
  padding-left: 16px; }

.svg-container {
  display: inline-block;
  position: relative;
  width: 100%;
  padding-bottom: 20%;
  /* aspect ratio */
  vertical-align: top;
  overflow: auto; }
  .svg-container::-webkit-scrollbar {
    background: white;
    width: 15px; }
  .svg-container::-webkit-scrollbar-thumb:vertical {
    background-image: url("/commons/static/img/icons/vsf_iconscrollbar_v102.svg?8f4ac434178e&f9f306ca992a");
    background-repeat: no-repeat;
    height: 50px !important;
    background-position: center; }
  .svg-container::-webkit-scrollbar-thumb:horizontal {
    background-image: url("/commons/static/img/icons/VSF_IconScrollBarHorizontalLarge_v1.0.1.svg?f9f306ca992a");
    background-repeat: no-repeat;
    height: 50px !important;
    background-position: center; }
  .svg-container::-webkit-scrollbar-button:vertical:start {
    background-image: url("/commons/static/img/icons/vsf_iconarrow_v101.svg?170e96b76754&f9f306ca992a");
    background-position: center;
    background-repeat: no-repeat; }
  .svg-container::-webkit-scrollbar-button:vertical:end {
    background-image: url("/commons/static/img/icons/vsf_iconarrowdown_v101_end.svg?170e96b76754&f9f306ca992a");
    background-position: center;
    background-repeat: no-repeat; }
  .svg-container::-webkit-scrollbar-button:horizontal:start {
    background-image: url("/commons/static/img/icons/vsf_iconarrowleft_v101.svg?f9f306ca992a");
    background-position: center;
    background-repeat: no-repeat; }
  .svg-container::-webkit-scrollbar-button:horizontal:end {
    background-image: url("/commons/static/img/icons/vsf_iconarrowright_v101.svg?f9f306ca992a");
    background-position: center;
    background-repeat: no-repeat; }

.svg-content-responsive {
  display: inline-block;
  position: absolute;
  top: 20%;
  left: 0; }

.svg-content-responsive g polygon {
  mix-blend-mode: darken; }

.social {
  padding: 0px 8px; }

a {
  color: #4067e1;
  white-space: nowrap; }

#shareFacebook {
  text-decoration: none; }

#shareTwitter {
  text-decoration: none; }

#shareReddit {
  text-decoration: none; }

.clickable {
  cursor: pointer; }

#subGraph2 .EventsMonth {
  float: right;
  height: 330px;
  padding: 0px;
  border-radius: 8px;
  background-color: white; }

#chart {
  background: #1f1f1f; }

#chart path {
  stroke: yellow;
  stroke-width: 2;
  fill: #1f1f1f; }

#chart path.domain {
  stroke: transparent; }

#chart .tick text {
  fill: white; }

.axis {
  shape-rendering: crispEdges; }

.x.axis line {
  stroke: #1f1f1f; }

.x.axis .minor {
  stroke-opacity: .5; }

.x.axis path {
  display: none; }

.y.axis line, .y.axis path {
  fill: none;
  stroke: #000; }

#modaltwitterTweet path.domain, #timeline1 path.domain {
  fill: transparent;
  stroke: #ccc;
  stroke-dasharray: 10; }

#modaltwitterTweet .axis .tick line, #timeline1 .axis .tick line {
  fill: transparent;
  stroke: #ccc;
  stroke-dasharray: 0; }

#modaltwitterTweet .axis .tick text, #timeline1 .axis .tick text {
  text-transform: uppercase;
  fill: #ccc; }

.subGraphDiv > div {
  margin-left: 5%;
  margin-bottom: 5%; }

#updateListAjax .description {
  font-size: 14px;
  color: #575757;
  font-weight: 400;
  background-color: #dedede;
  padding-left: 15%;
  padding-bottom: 8px; }

#updateListAjax .updateBar:hover {
  background-color: #EBEBEB; }

.infobox {
  border: 2px solid steelblue;
  border-radius: 4px;
  box-shadow: #333333 0px 0px 10px;
  margin: 200px auto;
  padding: 5px 10px;
  background: rgba(255, 255, 255, 0.8);
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 10500;
  font-weight: bold; }

#pagin li {
  display: inline-block; }

/* HOME */
.searchHome {
  text-align: center;
  color: #7c96e8;
  padding: 12px 16px 8px 24px !important; }
  .searchHome a {
    text-transform: none !important;
    cursor: pointer; }

#blockedHome {
  padding-top: 5px; }

#searchHome {
  padding: 0; }

#summaryHome {
  margin-top: -10px; }

#pagin {
  float: right;
  padding-right: 15px; }

.rhombus {
  background: red;
  display: inline-block;
  transform: rotate(45deg);
  margin: 10px 0px 0px 1px;
  width: 8px;
  height: 8px;
  padding-left: 2px; }

/* RESPONSIVE */
@media print {
  .accordion-group .accordion-body.collapse {
    height: auto; }

  * {
    background-color: #fff;
    color: #000;
    margin-top: -140px; }

  #caseImage {
    padding-left: 0;
    clip-path: inset(0px 0px 25% 0px);
    max-height: 268px; }
    #caseImage img {
      border-radius: 8px;
      overflow: hidden; }
    #caseImage .img-fluid {
      clip-path: inset(0px 0px 25% 0px);
      -webkit-clip-path: inset(0px 0px 25% 0px); }

  h1, h2, h3, h4, h5, h6 {
    page-break-after: avoid; }

  article {
    page-break-before: always; }

  img {
    page-break-inside: avoid; } }
@media (min-width: 0) and (max-width: 543px) {
  .svg-container::-webkit-scrollbar-thumb:horizontal {
    background-image: url("/commons/static/img/icons/VSF_IconScrollBar_543.svg?f9f306ca992a");
    background-repeat: no-repeat;
    height: 50px !important;
    background-position: center; } }
@media (min-width: 544px) and (max-width: 766px) {
  .svg-container::-webkit-scrollbar-thumb:horizontal {
    background-image: url("/commons/static/img/icons/VSF_IconScrollBar_766.svg?f9f306ca992a");
    background-repeat: no-repeat;
    height: 50px !important;
    background-position: center; } }
@media (min-width: 768px) and (max-width: 900px) {
  .svg-container::-webkit-scrollbar-thumb:horizontal {
    background-image: url("/commons/static/img/icons/VSF_IconScrollBar_900.svg?f9f306ca992a");
    background-repeat: no-repeat;
    height: 50px !important;
    background-position: center; } }
@media (min-width: 1025px) {
  .svg-container::-webkit-scrollbar-thumb:horizontal {
    background-image: url("/commons/static/img/icons/VSF_IconScrollBar_1024.svg?f9f306ca992a");
    background-repeat: no-repeat;
    height: 50px !important;
    background-position: center; } }

/*# sourceMappingURL=tmp8ox4GE.css.map */
