{% extends "base.html" %}
  {% load i18n %}
  {% get_current_language as LANGUAGE_CODE %}
  {% get_language_info for LANGUAGE_CODE as lang %}
  {% get_available_languages as LANGUAGES %}
  {% get_language_info_list for LANGUAGES as languages %}

{% block content %}

<!-- Buttons -->
<div class="col-xs-6">
    <h2 class="col-xs-12">
        {% trans "Buttons" %}     
    </h2>
    
    <h3 class="col-xs-12">
        Normal, hover {% trans "and" %}  active
    </h3>  
    
    <ul style="list-style: none;">
        <li>Padding-left: 16px </li>
        <li>Padding-right: 16px </li>
        <li>Style: normal, regular (hover) {% trans "and" %}  medium (active) </li>
    </ul>
    
    <div class="col-xs-12" style="text-align: center;">
        <button>
            CANTV
        </button>
        
        <button>
            Supercable
        </button>
        
        <button>
            Digitel
        </button>
    </div>
    
</div>

<!-- Tags -->
<div class="col-xs-6">
    <h2 class="col-xs-12">
        Tags    
    </h2>
    
    <ul style="list-style: none;">
        <li>Padding-left: 16px </li>
        <li>Padding-right: 16px </li>
        <li>Style: medium </li>
        <li>Color: #fff </li>
    </ul>
    
    <div class="col-xs-12" style="text-align: center;">
        <div class="continue_tag">
            <div class="left_cornerTag"></div>
            <div class="contentTag">
                {% trans "Continue" %} 
            </div>
            <div class="right_cornerTag"></div>
            
        </div>
    
        <div class="interception_tag">
            <div class="left_cornerTag"></div>
            <div class="contentTag">
                {% trans "Interception" %} 
            </div>
            <div class="right_cornerTag"></div>
            
        </div>
    
        <div class="disconnected_tag">
            <div class="left_cornerTag"></div>
            <div class="contentTag">
                {% trans "Disconnected" %} 
            </div>
            <div class="right_cornerTag"></div>
            
        </div>

        <div class="slowdown_tag">
            <div class="left_cornerTag"></div>
            <div class="contentTag">
                {% trans "Slowdown" %} 
            </div>
            <div class="right_cornerTag"></div>
            
        </div>

        <div class="dos_tag">
            <div class="left_cornerTag"></div>
            <div class="contentTag">
                {% trans "DoS" %} 
            </div>
            <div class="right_cornerTag"></div>
            
        </div>

        <div class="fail_tag">
            <div class="left_cornerTag"></div>
            <div class="contentTag">
                {% trans "Fail" %} 
            </div>
            <div class="right_cornerTag"></div>
            
        </div>
       
       
  
        <div class="blocked_tag">
            <div class="left_cornerTag"></div>
            <div class="contentTag">
                {% trans "Blocked" %} 
            </div>
            <div class="right_cornerTag"></div>
             
        </div>
    
    </div>

</div>


<!-- Contextual buttons -->
<div class="col-xs-6">
    <h2 class="col-xs-12">
        {% trans "Contextual buttons (static)" %}   
    </h2>
    
    <h3 class="col-xs-12">
        Normal, hover and active
    </h3>  
    
    <ul style="list-style: none;">
        <li>Width: 80px </li>
        <li>Height: 24px </li>
        <li>Style: normal, regular (hover) {% trans "and" %} medium (active) </li>
    </ul>
    
    <div class="col-xs-12" style="text-align: center;">
        <button class="contextualButtonFixedSize">
            Inter
        </button>
        
        <button class="contextualButtonFixedSize">
            Supercable
        </button>
        
        <button class="contextualButtonFixedSize">
            Digitel
        </button>
    </div>
    
</div>

<div class="col-xs-6">
    <h2 class="col-xs-12">
        {% trans "Contextual buttons" %}       
    </h2>
    
    <h3 class="col-xs-12">
        Normal, hover  {% trans "and" %} active
    </h3>  
    
    <ul style="list-style: none;">
        <li>Style: normal, regular (hover)  {% trans "and" %} medium (active) </li>
    </ul>
    
    <div class="col-xs-12" style="text-align: center;">
    
        <button class="contextualButton">
            dolartoday.com
        </button>
        
        <button class="contextualButton">
            dolartoday.com
        </button>
        
        <button class="contextualButton">
            dolartoday.com
        </button>
    </div>
    
</div>

<!-- Bars -->
<div class="col-xs-12" style="margin-top:50px">
    <h2 class="col-xs-12">
        {% trans "Bars" %}    
    </h2>
    
    <!--Title bar -->
    <ul style="list-style: none;">
        <li>Padding-top: 16px </li>
        <li>Padding-left: 24px </li>
        <li>Padding-right: 16px </li>
    </ul>
    
    <div class="col-xs-12 titleBar">
        <h2 class="title">
            {% trans "Title bar" %}
        </h2>
        
    </div>
    
    
    
    <!--Small bar -->
     <ul style="list-style: none;">
        <li>Padding-top: 8px </li>
        <li>Padding-bottom: 8px </li>
    </ul>
    
    <div class="col-xs-12 smallBar">
        <h4 class="title">
            {% trans "Small bars" %}
        </h4>        
    </div>
    
   
    
    <!--Subtitle bar -->
     <ul style="list-style: none;">
        <li>{% trans "Height" %}: 36px </li>
    </ul>
    
    <div class="col-xs-12 subtitleBar">
        <h4 class="title">
            {% trans "Subtitle bar" %}
        </h4>        
    </div>
    
 
     <!--Timeline bar -->
     <ul style="list-style: none;">
        <li>{% trans "Height" %}: 20px </li>
        <li>Padding-left: 16px </li>
        <li>Padding-right: 16px </li>
        
    </ul>
    
    <div class="col-xs-12 timelineBarContinue" style=" margin-left: 20px;" >
           <div class="date col-xs-9">07 Marzo 2013</div>
           <div class="status col-xs-3">{% trans "Continue" %}</div>   
    </div>



    <!--Toolbar bar -->
     <ul style="list-style: none;">
        <li>{% trans "Height" %}: 36px </li>
    </ul>
          
    <div class="col-xs-12 toolbar">
        <div class="col-xs-5">
            
            <button  style="margin-left: 10px">
                CANTV
            </button>
            
            <button class="contextualButtonFixedSize" style="margin-left: 10px">
                Supercable
            </button>
            
            <div class="continue_tag" style="margin-left: 10px">
                <div class="left_cornerTag"></div>
                <div class="contentTag">
                    {% trans "Continue" %}
                </div>
                <div class="right_cornerTag"></div>
                
            </div>
        </div>
        
        <div class="col-xs-7" style="padding:0">
       
            <div class="col-xs-12 timelineBar" >
    
                   <div class="date col-xs-9">07 Marzo 2013</div>
                   <div class="status col-xs-3">{% trans "Continue" %}</div>
        
            </div>
        </div>
                   
    </div>
    
     <!--Update bar -->
     <ul style="list-style: none;">
        <li>{% trans "Height" %}: 48px </li>
        <li>Padding-top: 12px </li>
        <li>Padding-bottom: 12px </li>
    </ul>
    
    <div class="col-xs-12 updateBar" style="margin-bottom: 15px; padding-left:0">
       <div class="col-xs-2" style="padding-left: 0;padding-right: 0;" >
            <div class="col-xs-7" style="padding-right: 0;padding-left: 0;">
                <div class="col-xs-12 dateDayMonth headline">
                27 JUN
                </div>
                <div class="col-xs-12 dateYear">
                    2016
                </div>
            </div>
            <div class="col-xs-2" style="padding-left: 0;">
                <div class="symbolBlocked"></div>
            </div>
            
        </div>

        
        <div class="col-xs-7 content" style="padding-left: 0;">
            Presidente dice que bloquea Presidente dice que bloquea Presidente dice que bloquea
            Presidente dice que bloquea Presidente dice que bloquea Presidente dice que bloquea
            Presidente dice que bloquea Presidente dice que bloquea Presidente dice que bloquea
            Presidente dice que bloquea Presidente dice que bloquea Presidente dice que bloquea
        </div>
        
        <div class="col-xs-3 share">
            <a href="#">{% trans "View more..." %}</a>
            <a href="#" target="_blank"><i class="fa fa-facebook-square "></i></a>
            <a href="#" target="_blank"><i class="fa fa-twitter"></i></a>
            <a href="#" target="_blank"><i class="fa fa-pinterest"></i></a>
                       
        </div>
               

    </div>
    
</div>
    
{% endblock %}



