{% extends "base.html" %}


{% block content %}

<!-- Buttons -->
<div class="col-xs-6">
    <h2 class="col-xs-12">
        Buttons    
    </h2>
    
    <h3 class="col-xs-12">
        Normal, hover and active
    </h3>  
    
    <ul style="list-style: none;">
        <li>Padding-left: 16px </li>
        <li>Padding-right: 16px </li>
        <li>Style: normal, regular (hover) and medium (active) </li>
    </ul>
    
    <div class="col-xs-12" style="text-align: center;">
        <button>
            CANTV
        </button>
        
        <button>
            Supercable
        </button>
        
        <button>
            Digitel
        </button>
    </div>
    
</div>

<!-- Tags -->
<div class="col-xs-6">
    <h2 class="col-xs-12">
        Tags    
    </h2>
    
    <ul style="list-style: none;">
        <li>Padding-left: 16px </li>
        <li>Padding-right: 16px </li>
        <li>Style: medium </li>
        <li>Color: #fff </li>
    </ul>
    
    <div class="col-xs-12" style="text-align: center;">
        <div class="continue_tag">
            <div class="left_cornerTag"></div>
            <div class="contentTag">
                Continue
            </div>
            <div class="right_cornerTag"></div>
            
        </div>
    
  
        <div class="blocked_tag">
            <div class="left_cornerTag"></div>
            <div class="contentTag">
                Blocked
            </div>
            <div class="right_cornerTag"></div>
             
        </div>
    
    </div>

</div>


<!-- Contextual buttons -->
<div class="col-xs-6">
    <h2 class="col-xs-12">
        Contextual buttons (static)   
    </h2>
    
    <h3 class="col-xs-12">
        Normal, hover and active
    </h3>  
    
    <ul style="list-style: none;">
        <li>Width: 80px </li>
        <li>Height: 24px </li>
        <li>Style: normal, regular (hover) and medium (active) </li>
    </ul>
    
    <div class="col-xs-12" style="text-align: center;">
        <button class="contextualButtonFixedSize">
            Inter
        </button>
        
        <button class="contextualButtonFixedSize">
            Supercable
        </button>
        
        <button class="contextualButtonFixedSize">
            Digitel
        </button>
    </div>
    
</div>

<div class="col-xs-6">
    <h2 class="col-xs-12">
        Contextual buttons    
    </h2>
    
    <h3 class="col-xs-12">
        Normal, hover and active
    </h3>  
    
    <ul style="list-style: none;">
        <li>Style: normal, regular (hover) and medium (active) </li>
    </ul>
    
    <div class="col-xs-12" style="text-align: center;">
        <button class="contextualButtonFixedSize">
            dolartoday.com
        </button>
        
        <button class="contextualButtonFixedSize">
            dolartoday.com
        </button>
        
        <button class="contextualButtonFixedSize">
            dolartoday.com
        </button>
    </div>
    
</div>

<!-- Bars -->
<div class="col-xs-12" style="margin-top:50px">
    <h2 class="col-xs-12">
        Bars    
    </h2>
    
    <!--Title bar -->
    <ul style="list-style: none;">
        <li>Padding-top: 16px </li>
        <li>Padding-left: 24px </li>
        <li>Padding-right: 16px </li>
    </ul>
    
    <div class="col-xs-12 titleBar">
        <h2 class="title">
            Title bar
        </h2>
        
        <h4 class="date">
            16/11/2016
        </h4>
        
    </div>
    
    
    
    <!--Small bar -->
     <ul style="list-style: none;">
        <li>Padding-top: 8px </li>
        <li>Padding-bottom: 8px </li>
    </ul>
    
    <div class="col-xs-12 smallBar">
        <h4 class="title">
            Small bar
        </h4>        
    </div>
    
   
    
    <!--Subtitle bar -->
     <ul style="list-style: none;">
        <li>Height: 36px </li>
    </ul>
    
    <div class="col-xs-12 subtitleBar">
        <h4 class="title">
            Subtitle bar
        </h4>        
    </div>
    
    <!--Toolbar bar -->
     <ul style="list-style: none;">
        <li>Height: 36px </li>
    </ul>
    
    <div class="col-xs-12 subtitleBar">
        <h4 class="title">
            Subtitle bar
        </h4>        
    </div>
    
</div>
    
{% endblock %}



