body{
    
    font-family: $primary_fontFamily;   
	margin-top: 70px;
}

.navbar {
	background-image: url("/commons/static/img/graphbackground.svg");
	background-position: center;
	background-repeat: no-repeat;
}

.navbar input[type=text] {
    width: 100px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out; 
    background-image: url("/commons/static/img/search.svg");
    background-position: 5px 5px;
    background-repeat: no-repeat;
    background-size: 20px 20px;
    padding-left: 25px;
}

.navbar input[type=text]:focus {
    width: 150px; 

}