{% load static %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% get_language_info for LANGUAGE_CODE as lang %}
{% get_available_languages as LANGUAGES %}
{% get_language_info_list for LANGUAGES as languages %}
  

<nav class = "navbar navbar-fixed-top navbar-dark bg-inverse" >
    <button class = "navbar-toggler hidden-lg-up float-xs-right" type = "button" data-toggle = "collapse" data-target = "#navbarResponsive" aria-controls = "navbarResponsive" aria-expanded = "false" aria-label = "Toggle navigation" ></button>
        <a class = "navbar-brand" href = "#" > 
            <img src = "{% static 'img/long_veSinFiltro.svg' %}" width = "221" height = "50" alt = "">
        </a>
    
    <div class = "collapse navbar-toggleable-md float-md-right" id = "navbarResponsive" >
        <ul class = "nav navbar-nav float-xs-right" >
            <li class = "nav-item" >
                <a class = "nav-link" href = "#" >
                    {% trans "Home" %}
                </a>
            </li>
          
            <li class = "nav-item" >
                <a class = "nav-link" href = "#" >
                    {% trans "News" %}
                </a>
            </li>
          
            <li class = "nav-item dropdown" >
                <a class = "nav-link dropdown-toggle" href = "#" data-toggle = "dropdown" aria-haspopup = "true" aria-expanded = "false" >
                    {% trans "Guides" %}
                </a>
                
                <div class = "dropdown-menu" >
                    <a class = "dropdown-item" href= "#">
                        VPN's
                    </a>
                    
                    <a class = "dropdown-item" href = "#" >
                        Proxy's
                    </a>
                    
                    <a class = "dropdown-item" href = "#" >
                        {% trans "Evade The Blockade" %}
                    </a>
                </div>
            </li>
          

            <li class = "nav-item dropdown" >
                <a class = "nav-link dropdown-toggle" href = "#" data-toggle = "dropdown" aria-haspopup = "true" aria-expanded = "false" >
                    {% trans "Cases" %}
                </a>
                
                <div class = "dropdown-menu" aria-labelledby = "supportedContentDropdown" >
                    <a class = "dropdown-item" href = "#" >
                        {% trans "Blocked URLs" %}
                    </a>
                    
                    <a class = "dropdown-item" href = "#" >
                        {% trans "Blocked Domains" %}
                    </a>
                    
                    <a class = "dropdown-item" href = "#" >
                        {% trans "Speed Test" %}
                    </a>
                          
                </div>
            </li>         

            <li class = "nav-item dropdown" >
                <a class = "nav-link dropdown-toggle" href = "#" data-toggle = "dropdown" aria-haspopup = "true" aria-expanded = "false">
                    {% trans "Community" %}
                </a>
                
                <div class = "dropdown-menu" >
                    <a class = "dropdown-item" href = "#" >
                        {% trans "About Us" %}
                    </a>
                    
                    <a class = "dropdown-item" href = "#" >
                        Open source
                    </a>
                    
                    <a class = "dropdown-item" href = "#" >
                        {% trans "Forum" %}
                    </a>
                </div>
            </li>

            <li class = "nav-item" >
                <a class = "nav-link" href = "#" >
                    {% trans "Report" %}
                </a>
            </li>
          
            <li class = "nav-item" >
                <form>
                    <input type = "text" name = "search" placeholder = "Search.." >
                </form>
            </li>
          
            <li class = "nav-item dropdown" >
                <a class = "nav-link dropdown-toggle" href = "#" data-toggle = "dropdown" aria-haspopup = "true" aria-expanded = "false">
                    <img style = "width: 30px; height:30px;" src = "{% static 'img/translate.svg' %}" alt = "language" >
                </a>
                
                <div class = "dropdown-menu" style = "left: -20px;min-width: 0px !important;width: 75px;" >
                    
                    {% for language in languages %}
                            
                        <a class = "dropdown-item" href = "#" onclick = "document.ui.language.value='{{ language.code}}'; document.ui.submit();"><img style = "width: 30px; height:30px;" src = "/commons/static/img/flags/{{language.code}}.svg" alt = "language">                        
                        </a>
                                          
                    {% endfor %}
                
                </div>
            </li>

        </ul>
    </div>
    
    <div class = "hidden" >
        <form name="ui" action="{% url 'set_language' %}" method="post">
            {% csrf_token %}
            <input name="next" type="hidden" value="{{ redirect_to }}" />
            <input name="language" type="hidden"/>
        </form>
    </div>
</nav>